{# src/sharmeCanada/PlatformBundle/Resources/views/Accueil/page-signin.html.twig #}
{% extends "::layout.html.twig" %}
    {% block title %}
      Cr&#233;ation de compte - {{ parent() }}
    {% endblock %}
	{% block body %}
			<div id="shop">

				<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1>S'inscrire</h1>

						<ul class="breadcrumb">
							<li><a href="{{ path('sharmecanadaplatform_home') }}">Accueil</a></li>
							<li class="active">S'inscrire</li>
						</ul>
					</div>
				</header>


				<section class="container">

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-6">

							<h2>Cr&#233;er un <strong>Compte</strong></h2>
							<!--form class="white-row"-->
              {{ form_start(form , { 'attr': {'class': 'white-row'} }) }}
              {{ form_errors(form) }}

								<!-- alert failed -->
								<div class="alert alert-danger">
									<i class="fa fa-frown-o"></i>
									<strong>Mot de Passe</strong> incorrect!
								</div>

                <!-- /test -->
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>Adresse Courriel</label>
                      {{ form_errors(form.username) }}
                      {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ form_row(form.password.first, { 'attr': {'class': 'form-control'} }) }}

                    </div>
                    <div class="col-md-6">
                      {{ form_row(form.password.second, { 'attr': {'class': 'form-control'} }) }}

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    {{ form_widget(form.Enregistrer, { 'attr': {'class': 'btn btn-primary pull-right push-bottom'} }) }}
                  </div>
                </div>
                <!-- /fintest-->

              {{ form_end(form) }}
							<!--/form-->

						</div>
						<!-- /REGISTER -->

						<!-- WHY? -->
						<div class="col-md-6">

							<h2>Why to register?</h2>

							<div class="white-row">

								<h4>Registration is fast, easy, and free.</h4>

								<p>Once you're registered, you can:</p>
								<ul class="list-icon check">
									<li>Buy, sell, and interact with other members.</li>
									<li>Save your favorite searches and get notified.</li>
									<li>Watch the status of up to 200 items.</li>
									<li>View your Atropos information from any computer in the world.</li>
									<li>Connect with the Atropos community.</li>
								</ul>

								<hr class="half-margins" />

								<p>
									Already have an account?
									<a href="{{ path('sharmecanada_user_loggin') }}">Click to Sign In</a>
								</p>
							</div>

							<div class="white-row">
								<h4>Contact Customer Support</h4>
								<p>
									If you're looking for more help or have a question to ask, please <a href="{{ path('sharmecanadaplatform_contact') }}">contact us</a>.
								</p>
							</div>

						</div>
						<!-- /WHY? -->

					</div>

				</section>

			</div>
		</div>
		<!-- /WRAPPER -->

    {% endblock %}
